$footer-height:2.5rem;
:root {
    --color-text:#000;
    --color-background:#f3f5f7;
    --color-background-subtle:#d7e0ed;
    --color-primary:#0058d3;

}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text:#fff;
        --color-background:#05090f;
        --color-background-subtle:#121c2c;
        --color-primary:#9ec6ff;
    }
}

* {
    box-sizing: border-box;
    color: var(--color-text);
    &:not(svg) {
        background-color: var(--color-background);
    }
}

body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}

a {
    background-color: transparent;
    &:hover {
        color:var(--color-primary);
    }
}

#game-board {
    margin: 25px;
    touch-action: manipulation;
    padding: 5px;
    display: inline-block;
}

#game-board > div {
    margin: 3px;
}

.minefield {
    box-shadow: gray 0px 0px 2px 0px;
    display: inline-block;
}

.game-cell {
    user-select: none;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0;
    width: 2rem;
    height: 2rem;
    background-color: var(--color-background);
    color: black;
    font-weight: bold;
    box-shadow: gray 0px 0px 2px 0px inset;
}

.game-cell.n1 {
    color: blue;
}
.game-cell.n2 {
    color: green;
}
.game-cell.n3 {
    color: red;
}
.game-cell.n4 {
    color: darkblue;
}
.game-cell.n5 {
    color: darkred;
}
.game-cell.n6 {
    color: teal;
}
.game-cell.n7 {
    color: black;
}
.game-cell.n8 {
    color: black;
}


.game-cell.un-revealed {
    background: darkblue;
    color: white
}

.game-cell.unexploded-mine {
    background-color: var(--color-background-subtle);
}

.game-cell.bad-flag {
    background-color: yellow;
}

.game-cell.exploded {
    background-color: red;
}

.cell-row {
    display: flex;
    margin: 0;
    padding: 0;
}

.status-bar {
    display:block;
}

.status-bar > div {
    display: inline-block;
    width: 50%;
}

.game-timer {
    text-align: right;
}

//page styling
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrapper {
    padding:5px;
    padding-bottom: $footer-height;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer {
    position: absolute;
    bottom:0;
    width:100%;
    background-color: var(--color-background-subtle);
    height: $footer-height;
    padding:5px;
}

//utility functions
.text-align-center {
    text-align: center;
}
