/* Palette */
:root {
    --dark_primary: #00174a;
    --dark_secondary: #022775;
    --light_primary: #dbe7ff;
    --light_secondary: #99b9ff;
    --font_light: #fff;
    --font_dark: #000;
}

/* General */
body {
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap; */
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--dark_primary);
    color: var(--font_light);
}

fieldset {
    border-color: var(--light_secondary);
    background-color: var(--dark_secondary);
}

#game-board_controls {
    display: flex;
    /* align-items: center; */
}

/* controls */
#controls {
    display: inline-block;
}

#controls fieldset {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 0 8px var(--font_dark);
}

#controls fieldset input{
    border-color: var(--light_secondary);
    border-radius: 5px;
    border-width: 1px;
    margin-bottom: 5px;
    background-color: var(--dark_primary);
    color: var(--font_light);
}

/* input::placeholder, input::-moz-placeholder, input::-webkit-input-placeholder {
    color: pink;
} */

#controls fieldset button {
    background-color: var(--dark_primary);
    border: 1px solid var(--light_secondary);
    color: var(--font_light);
    border-radius: 5px;
    padding: 2px;
}


/* game-board */
#game-board {
    /* margin: 25px; */
    touch-action: manipulation;
    padding: 2px;
    display: inline-block;
    border: 2px solid var(--light_secondary);
    border-radius: 8px;
    background-color: var(--dark_secondary);
}

#game-board > div {
    margin: 3px;
}

.minefield {
    box-shadow: gray 0px 0px 2px 0px;
    display: inline-block;
}

.game-cell {
    user-select: none;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
    width: 30px;
    height: 30px;
    background-color: white;
    color: black;
    font-weight: bold;
    box-shadow: gray 0px 0px 2px 0px inset;
}

.game-cell.n1 {
    color: blue;
}
.game-cell.n2 {
    color: green;
}
.game-cell.n3 {
    color: red;
}
.game-cell.n4 {
    color: darkblue;
}
.game-cell.n5 {
    color: darkred;
}
.game-cell.n6 {
    color: teal;
}
.game-cell.n7 {
    color: black;
}
.game-cell.n8 {
    color: black;
}


.game-cell.un-revealed {
    background: darkblue;
    color: white
}

.game-cell.unexploded-mine {
    background-color: lightgray;
}

.game-cell.bad-flag {
    background-color: yellow;
}

.game-cell.exploded {
    background-color: red;
}

.cell-row {
    display: flex;
    margin: 0;
    padding: 0;
}

.status-bar {
    display:block;
}

.status-bar > div {
    display: inline-block;
    width: 50%;
}

.game-timer {
    text-align: right;
}
